# frozen_string_literal: true

# #Namf_Communication
#
# AMF Communication Service © 2019, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC). All rights reserved.
#
# The version of the OpenAPI document: 1.0.2
#
# Generated by: https://openapi-generator.tech
# OpenAPI Generator version: 7.1.0-SNAPSHOT
#

require 'cgi'

module Core5g
  class N1N2SubscriptionsCollectionForIndividualUEContextsDocumentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Namf_Communication N1N2 Message Subscribe (UE Specific) service Operation
    # @param ue_context_id [String] UE Context Identifier
    # @param ue_n1_n2_info_subscription_create_data [UeN1N2InfoSubscriptionCreateData]
    # @param [Hash] opts the optional parameters
    # @return [UeN1N2InfoSubscriptionCreatedData]
    def n1_n2_message_subscribe(ue_context_id, ue_n1_n2_info_subscription_create_data, opts = {})
      data, _status_code, _headers = n1_n2_message_subscribe_with_http_info(ue_context_id,
                                                                            ue_n1_n2_info_subscription_create_data, opts)
      data
    end

    # Namf_Communication N1N2 Message Subscribe (UE Specific) service Operation
    # @param ue_context_id [String] UE Context Identifier
    # @param ue_n1_n2_info_subscription_create_data [UeN1N2InfoSubscriptionCreateData]
    # @param [Hash] opts the optional parameters
    # @return [Array<(UeN1N2InfoSubscriptionCreatedData, Integer, Hash)>] UeN1N2InfoSubscriptionCreatedData data, response status code and response headers
    def n1_n2_message_subscribe_with_http_info(ue_context_id, ue_n1_n2_info_subscription_create_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: N1N2SubscriptionsCollectionForIndividualUEContextsDocumentApi.n1_n2_message_subscribe ...'
      end
      # verify the required parameter 'ue_context_id' is set
      if @api_client.config.client_side_validation && ue_context_id.nil?
        raise ArgumentError,
              "Missing the required parameter 'ue_context_id' when calling N1N2SubscriptionsCollectionForIndividualUEContextsDocumentApi.n1_n2_message_subscribe"
      end

      pattern = /^(5g-guti-[0-9]{5,6}[0-9a-fA-F]{14}|imsi-[0-9]{5,15}|nai-.+|imei-[0-9]{15}|imeisv-[0-9]{16}|.+)$/
      if @api_client.config.client_side_validation && ue_context_id !~ pattern
        raise ArgumentError,
              "invalid value for 'ue_context_id' when calling N1N2SubscriptionsCollectionForIndividualUEContextsDocumentApi.n1_n2_message_subscribe, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'ue_n1_n2_info_subscription_create_data' is set
      if @api_client.config.client_side_validation && ue_n1_n2_info_subscription_create_data.nil?
        raise ArgumentError,
              "Missing the required parameter 'ue_n1_n2_info_subscription_create_data' when calling N1N2SubscriptionsCollectionForIndividualUEContextsDocumentApi.n1_n2_message_subscribe"
      end

      # resource path
      local_var_path = '/ue-contexts/{ueContextId}/n1-n2-messages/subscriptions'.sub('{ueContextId}',
                                                                                     CGI.escape(ue_context_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ue_n1_n2_info_subscription_create_data)

      # return_type
      return_type = opts[:debug_return_type] || 'UeN1N2InfoSubscriptionCreatedData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oAuth2ClientCredentials']

      new_options = opts.merge(
        operation: :'N1N2SubscriptionsCollectionForIndividualUEContextsDocumentApi.n1_n2_message_subscribe',
        header_params:,
        query_params:,
        form_params:,
        body: post_body,
        auth_names:,
        return_type:
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: N1N2SubscriptionsCollectionForIndividualUEContextsDocumentApi#n1_n2_message_subscribe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
