# frozen_string_literal: true

# #Namf_Communication
#
# AMF Communication Service © 2019, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC). All rights reserved.
#
# The version of the OpenAPI document: 1.0.2
#
# Generated by: https://openapi-generator.tech
# OpenAPI Generator version: 7.1.0-SNAPSHOT
#

require 'cgi'

module OpenapiClient
  class NonUEN2MessagesSubscriptionsCollectionDocumentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Namf_Communication Non UE N2 Info Subscribe service Operation
    # @param non_ue_n2_info_subscription_create_data [NonUeN2InfoSubscriptionCreateData]
    # @param [Hash] opts the optional parameters
    # @return [NonUeN2InfoSubscriptionCreatedData]
    def non_ue_n2_info_subscribe(non_ue_n2_info_subscription_create_data, opts = {})
      data, _status_code, _headers = non_ue_n2_info_subscribe_with_http_info(non_ue_n2_info_subscription_create_data,
                                                                             opts)
      data
    end

    # Namf_Communication Non UE N2 Info Subscribe service Operation
    # @param non_ue_n2_info_subscription_create_data [NonUeN2InfoSubscriptionCreateData]
    # @param [Hash] opts the optional parameters
    # @return [Array<(NonUeN2InfoSubscriptionCreatedData, Integer, Hash)>] NonUeN2InfoSubscriptionCreatedData data, response status code and response headers
    def non_ue_n2_info_subscribe_with_http_info(non_ue_n2_info_subscription_create_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NonUEN2MessagesSubscriptionsCollectionDocumentApi.non_ue_n2_info_subscribe ...'
      end
      # verify the required parameter 'non_ue_n2_info_subscription_create_data' is set
      if @api_client.config.client_side_validation && non_ue_n2_info_subscription_create_data.nil?
        raise ArgumentError,
              "Missing the required parameter 'non_ue_n2_info_subscription_create_data' when calling NonUEN2MessagesSubscriptionsCollectionDocumentApi.non_ue_n2_info_subscribe"
      end

      # resource path
      local_var_path = '/non-ue-n2-messages/subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      header_params['Content-Type'] = content_type unless content_type.nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(non_ue_n2_info_subscription_create_data)

      # return_type
      return_type = opts[:debug_return_type] || 'NonUeN2InfoSubscriptionCreatedData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oAuth2ClientCredentials']

      new_options = opts.merge(
        operation: :'NonUEN2MessagesSubscriptionsCollectionDocumentApi.non_ue_n2_info_subscribe',
        header_params:,
        query_params:,
        form_params:,
        body: post_body,
        auth_names:,
        return_type:
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NonUEN2MessagesSubscriptionsCollectionDocumentApi#non_ue_n2_info_subscribe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
